.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination__title {
  font-size: 20px;
  font-family: "WorkSans-SemiBold";
  min-width: 155px;
}

.pagination__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pagination__text {
  margin-right: 10px;
}

.pagination__input,
.pagination__current-page {
  width: 50px;
  height: 30px;
  background: #F3F4F6;
  outline: none;
  border: none;
  text-align: center;
  transition: .3s;

    &:hover {
      background: #e6e6e6;
    }
}

.pagination__current-page {
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.pagination__input {
  margin-right: 30px;
}

.pagination__left,
.pagination__right {
  padding: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #111827;
  border-bottom: 2px solid #111827;
  transition: .3s;

    &:hover {
      opacity: .7;
    }
}

.pagination__left {
  rotate: 45deg;
  margin-right: 10px;
}

.pagination__right {
  rotate: -135deg;
  margin-left: 10px;
}

.pagination__total-page {
  margin-left: 20px;
}