
.footer {
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0px;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background-color: black;
}

.footer__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: #fff;
}
