.left-filters {
  width: 100%;
  background: #F3F4F6;
  padding: 30px 25px;
}

#copy-query {
  margin-bottom: 20px;
}

.total-products {
  max-width: 150px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}