.cart-list {
  margin-top: 30px;
}

.cart-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
}

.cart-list__count {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-list__image {
  width: 100px;
  height: 100px;
}

.cart-list__description {
  max-width: 350px;
  margin-left: 20px;
}

.cart-list__item-title{
  font-size: 20px;
  font-family: "WorkSans-SemiBold";
  margin-bottom: 10px;
}

.cart-list__item-desc,
.cart-list__price {
  margin-bottom: 5px;
}

.cart-list__controls {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.cart-list__item-count {
  margin: 0 30px;
}

.cart-list__minus {
  width: 22px;
  height: 22px;
  transition: .3s;
  border: 2px solid #111827;
  border-radius: 3px;
  position: relative;

    &::after {
      content: '';
      width: 10px;
      height: 2px;
      border-radius: 1px;
      background: #111827;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      &::after {
        background: #fff;
      }

      background: #111827;
    }
}

.cart-list__plus {
  width: 22px;
  height: 22px;
  transition: .3s;
  border: 2px solid #111827;
  border-radius: 3px;
  position: relative;

    &::after, &::before {
      content: '';
      width: 10px;
      height: 2px;
      border-radius: 1px;
      background: #111827;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &:hover {
      &::after, &::before {
        background: #fff;
      }

      background: #111827;
    }
}