.header {
  height: 70px;
  margin-top: 30px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  flex: 1;
}

.header__total-price {
  margin-right: 60px;
  max-width: 150px;
  width: 100%;
}