@font-face {
	font-family: 'Roboto-Bold';
	src: url('./../fonts/Roboto-Bold.eot');
	src: url('./../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), 
			 url('./../fonts/Roboto-Bold.woff2') format('woff2'), 
			 url('./../fonts/Roboto-Bold.woff') format('woff'), 
			 url('./../fonts/Roboto-Bold.ttf')  format('truetype'),
			 url('./../fonts/Roboto-Bold.svg#svgFontName') format('svg');
			 font-weight: bold;
			 font-style: normal; 
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('./../fonts/Roboto-Light.eot');
	src: url('./../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), 
			 url('./../fonts/Roboto-Light.woff2') format('woff2'), 
			 url('./../fonts/Roboto-Light.woff') format('woff'), 
			 url('./../fonts/Roboto-Light.ttf')  format('truetype'),
			 url('./../fonts/Roboto-Light.svg#svgFontName') format('svg'); 
			 font-weight: 300;
			 font-style: normal; 
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('./../fonts/Roboto-Medium.eot');
	src: url('./../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), 
			 url('./../fonts/Roboto-Medium.woff2') format('woff2'), 
			 url('./../fonts/Roboto-Medium.woff') format('woff'), 
			 url('./../fonts/Roboto-Medium.ttf')  format('truetype'),
			 url('./../fonts/Roboto-Medium.svg#svgFontName') format('svg');
			 font-weight: 500;
			 font-style: normal;  
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('./../fonts/Roboto-Regular.eot');
	src: url('./../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), 
			 url('./../fonts/Roboto-Regular.woff2') format('woff2'), 
			 url('./../fonts/Roboto-Regular.woff') format('woff'), 
			 url('./../fonts/Roboto-Regular.ttf')  format('truetype'),
			 url('./../fonts/Roboto-Regular.svg#svgFontName') format('svg'); 
			 font-weight: 400;
			 font-style: normal; 
}

	@mixin font-H1() {
		font-family: "Roboto-Bold" , Arial, sans-serif;
    font-size: 114px;
    text-transform: uppercase;
	}

	
	@mixin font-H2() {
		font-family: "Roboto-Regular" , Arial, sans-serif;
    font-size: 48px;
    line-height: 1.2;
	} 

  @mixin font-H3() {
		font-family: "Roboto-Regular" , Arial, sans-serif;
    font-size: 36px;
    line-height: 1.3;
	}

  @mixin font-subtitle() {
		font-family: "Roboto-Regular" , Arial, sans-serif;
    font-size: 24px;
    line-height: 1.2;
	}

  @mixin font-button() {
		font-family: "Roboto-Medium" , Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
	}

  @mixin font-default() {
		font-family: "Roboto-Regular" , Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
	}

  @mixin font-smalltext() {
		font-family: "Roboto-Light" , Arial, sans-serif;
    font-size: 15px;
    line-height: 1.2;
	}